.site-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  text-align: center;
  &__link {
    @include link-reset;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    transition: all .35s ease;

    &:hover {
      color: hsl(var(--clr-primary-soft-red))
    }
  }

  @media (min-width: 64em) {
    flex-direction: row;
  }
}