.button {
  --clr-bg: white;
  --clr-border: transparent;
  --clr-text: hsl(var(--clr-neutral-very-dark-blue));

  @include button-reset;
  padding-inline: 0.6rem;
  padding-block: 0.6rem;
  width: 100%;
  color: var(--clr-text);
  border-radius: 0.25rem;
  background-color: var(--clr-bg);
  border: 0.15rem solid var(--clr-border);
  @include shadow;
  transition: all .35s ease;

  &--blue {
    --clr-bg: hsl(var(--clr-primary-soft-blue));
    --clr-text: white;
  }

  &--red {
    --clr-bg: hsl(var(--clr-primary-soft-red));
    --clr-text: white;
  }
  
  &--transparent {
    --clr-bg: transparent;
    --clr-border: white;
    --clr-text: white;
  }

  &--noshadow {
    box-shadow: none;
  }

  &:hover {
    --clr-border: hsl(var(--clr-neutral-very-dark-blue)/0.65);
  }

  &--blue:hover {
    --clr-bg: white;
    --clr-border: hsl(var(--clr-primary-soft-blue));
    --clr-text: hsl(var(--clr-primary-soft-blue));
  }

  &--red:hover {
    --clr-bg: white;
    --clr-border: hsl(var(--clr-primary-soft-red));
    --clr-text: hsl(var(--clr-primary-soft-red));
  }

  &--transparent:hover {
    --clr-bg: hsl(var(--clr-primary-soft-red));
    --clr-border: hsl(var(--clr-primary-soft-red));
  }
}