<article class="pricing-card">
  <div class="pricing-card__image">
    <img src="{{imgSrc}}" alt="{{imgAlt}}" width="108" height="108">
  </div>
  <include src="src/blocks/components/title/title.html" locals='{
    "h": "h3",
    "classMod": "title--small pricing-card__title",
    "text": "{{cardTitle}}"
  }'></include>
  <include src="src/blocks/components/text/text.html" locals='{
    "classMod": "text--small text--secondary pricing-card__text",
    "text": "{{cardText}}"
  }'></include>
  <include src="src/blocks/components/button/button.html" locals='{
    "classMod": "button--blue pricing__button",
    "text": "Add & install extension"
  }'></include>
</article>