.navigation {

  &__toggle {
    @include button-reset;
    color: currentColor;
    cursor: pointer;

    svg {
      pointer-events: none;
    }
  }

  &--header &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &--footer .site-list {
    margin-block-end: 3rem;
    text-align: center;
  }

  &--footer .site-list__item:not(:last-child) {
    margin-block-end: 1.5rem;
  }

  @media (max-width: 63.999rem) {
    &--header &__wrapper {
      padding-inline: clamp(5rem, 10vw, 10rem);
      position: fixed;
      inset: 5.5rem 0 0 0;
      flex-direction: column;
      background-color: hsl(var(--clr-neutral-very-dark-blue)/0.9);
      transform: translateX(100%);
      transition: transform 0.35s ease-out;
    }

    &--header &__wrapper[data-visible="true"] {    
      transform: translateX(0);
    }
  }

  @media (min-width: 64em) {

    &__toggle {
      display: none;
    }
    
    &--header &__wrapper {
      flex-direction: row;
      align-items: center;
    }

    &--footer {
      width: 100%;  
    }

    &--footer &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    &--footer .site-list {
      margin-block-end: 0;
      width: 35%;
      text-align: start;
    }

    &--footer .site-list__item:not(:last-child) {
      margin-block-end: 0;
    }
  }
}