.footer {
  padding-block: 1.8rem;
  background-color: hsl(var(--clr-neutral-very-dark-blue));
  color: white;

  &__wrapper {
    @include column-center;  
  }

  &__logo {
    margin-block-end: 2rem;
  }

  @media (min-width: 64em) {
    &__wrapper {
      flex-direction: row;
      justify-content: space-between;
      gap: 3rem;
    }

    &__logo {
      margin-block-end: 0;
    }
  }
}