:root {
  --ff-primary: 'Rubik', 'Arial', sans-serif;

  --clr-primary-soft-blue: 231 69% 60%;
  --clr-primary-soft-red: 0 94% 66%;
  
  --clr-neutral-grayish-blue: 229 8% 60%;
  --clr-neutral-very-dark-blue: 229 31% 21%;

  --z-navigation: 100;
}